<div class="login-page-content">
  <h1 class='nav-title'>LOGIN</h1>

  <p id="alert"><%= alert %></p>

  <%= form_tag '/login' do %>

  <%= text_field_tag :Name, '', placeholder: 'Name', class: "name-input" %>

  <%= submit_tag "Log in", class: 'submit-btn' %>

  <%end%>

  <%= link_to raw('<i class="fa fa-arrow-left" aria-hidden="true"></i>'), root_path, class: 'back-btn' %>
</div>