<%= form_with(model: group, local: true) do |form| %>
<p id="alert"> <%= alert %> </p>

<%= form.text_field :Name, placeholder: 'Name', class: 'name-input' %>

<div class="icons-field">
<%= form.label 'Please select the group icon:', class: 'icon-title' %>
<% @icons.each do |icon| %>
  <label>
    <%= form.radio_button(:Icon, icon, class: 'icon-select') %>
    <%= image_tag(icon, class: 'icon') %>
  </label>
<% end %>
</div>

<%= form.submit 'Save', class: 'action-btn' %>
<% end %>