<%= form_with(model: group, local: true) do |form| %>
<p id="alert"> <%= alert %> </p>

<%= form.text_field :Name, placeholder: 'Name', class: 'name-input' %>

<%= form.text_field :Icon %>

<%= form.submit 'Save', class: 'action-btn' %>
<% end %>