<h1 class="nav-title"><%= @group.Name %></h1>

<p id="notice"><%= notice %></p>

<p class="main-track">Total exercises: <span><%= @group.exercises.count %></span><p>

<%= render 'exercises/exercises', collection: @exercises = @group.exercises  %>

<%= link_to raw('<span>Add Exercise</span>'), new_exercise_path(group: @group.id), class: 'action-btn' %>
