<%= form_with(model: user, local: true) do |form| %>
<p id="alert"> <%= alert %> </p>

<%= form.text_field :Name, placeholder: 'Name', class: 'name-input' %>

<div class="icons-field">
<%= form.label 'Please select your profile icon:', class: 'icon-title' %>
<% [
  'https://www.flaticon.com/svg/static/icons/svg/1869/1869342.svg',
  'https://www.flaticon.com/svg/static/icons/svg/1869/1869616.svg',
  'https://www.flaticon.com/svg/static/icons/svg/1869/1869436.svg',
  'https://www.flaticon.com/svg/static/icons/svg/1869/1869387.svg',
  'https://www.flaticon.com/svg/static/icons/svg/1869/1869393.svg',
  'https://www.flaticon.com/svg/static/icons/svg/1869/1869359.svg'
].each do |icon| %>
  <label>
    <%= form.radio_button(:icon, icon, class: 'icon-select') %>
    <%= image_tag(icon, class: 'icon') %>
  </label>
<% end %>
</div>

<%= form.submit 'Sign up', class: 'submit-btn' %>
<% end %>