<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @category.group_id %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @category.exercise_id %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
