<%= form_with(model: exercise, local: true) do |form| %>
<p id="alert"> <%= alert %> </p>

  <%= form.text_field :Name, placeholder: 'Name', class: 'name-input' %>

  <%= form.number_field :Amount, placeholder: 'Reps', class: 'name-input' %>

  <%= form.hidden_field :group, value: params[:group]  %>

  <%= form.submit 'Save', class: 'action-btn' %>

<% end %>
