<!DOCTYPE html>
<html>

<head>
  <title>Fit Tracker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://use.fontawesome.com/7089435224.css' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <main class="page-content">
    <%= navbar %>
    <%= yield %>
  </main>
</body>

</html>