<!DOCTYPE html>
<html>
  <head>
    <title>RoRCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/7089435224.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <% if logged_in? %>
      <p> Logged In as: <%= current_user.Name %> </p>
      <%= link_to  "Log Out", '/logout', method: 'post' %>
    <% end %>
    </nav>
    <main class="app-content">
      <%= yield %>
    </main>
  </body>
</html>
